# No directory listings
# Options -Indexes
# Options +FollowSymLinks

# Not found
# ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on
    RewriteBase /noshave-new/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^member/(.*)$ platform/member.php?p=$1 [QSA]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ platform/$1.php [L]   
    
     
</IfModule>
